In [1]:
import pandas as pd

#### Group By method
##### Split, apply, combine

In [2]:
# load drinks data
alcohol_df = pd.read_csv('../Data/drinks.csv')

In [3]:
# find the average 'beer_servings'
alcohol_df['beer_servings'].mean()

106.16062176165804

In [4]:
# find the average 'beer_servings' just for countries in Africa
alcohol_df.loc[alcohol_df['continent'] == 'Africa']['beer_servings'].mean()

61.471698113207545

In [5]:
# find the average beer servings for each continent
alcohol_df.groupby('continent')['beer_servings'].mean()

continent
Africa            61.471698
Asia              37.045455
Europe           193.777778
North America    145.434783
Oceania           89.687500
South America    175.083333
Name: beer_servings, dtype: float64

In [6]:
# find the mx value of beer servings for each continent
alcohol_df.groupby('continent')['beer_servings'].max()

continent
Africa           376
Asia             247
Europe           361
North America    285
Oceania          306
South America    333
Name: beer_servings, dtype: int64

In [7]:
# you can use your own functions
def peak_to_peak(group):
    return group.max() - group.min()

In [10]:
alcohol_df.groupby('continent')[['beer_servings', 'spirit_servings', 'wine_servings']].apply(peak_to_peak)

               beer_servings  spirit_servings  wine_servings
continent
Africa                   376              152            233
Asia                     247              326            123
Europe                   361              373            370
North America            284              370             99
Oceania                  306              254            212
South America            240              277            220

In [16]:
# top 5 wine servings countries by continent
def top5(group):
    return group.sort_values(by='wine_servings', ascending=False).head(5) #[:5] also works (slice notation, reverse order)

alcohol_df.groupby('continent').apply(top5)

                               country  beer_servings  spirit_servings  \
continent
Africa        55     Equatorial Guinea             92                0
              148  Sao Tome & Principe             56               38
              159         South Africa            225               76
              62                 Gabon            347               98
              152           Seychelles            157               25
Asia          92                  Laos             62                0
              141   Russian Federation            247              326
              177         Turkmenistan             19               71
              94               Lebanon             20               55
              167                Syria              5               35
Europe        61                France            127              151
              136             Portugal            194               67
              3                Andorra            245              138
              166          Switzerland            185              100
              48               Denmark            224               81
North America 32                Canada            240              122
              184                  USA            249              158
              144            St. Lucia            171              315
              11               Bahamas            122              176
              5      Antigua & Barbuda            102              128
Oceania       8              Australia            261               72
              121          New Zealand            203               79
              40          Cook Islands              0              254
              146                Samoa            105               18
              129                Palau            306               63
South America 6              Argentina            193               25
              185              Uruguay            115               35
              35                 Chile            130              124
              132             Paraguay            213              117
              133                 Peru            163              160

                   wine_servings  total_litres_of_pure_alcohol      continent
continent
Africa        55             233                           5.8         Africa
              148            140                           4.2         Africa
              159             81                           8.2         Africa
              62              59                           8.9         Africa
              152             51                           4.1         Africa
Asia          92             123                           6.2           Asia
              141             73                          11.5           Asia
              177             32                           2.2           Asia
              94              31                           1.9           Asia
              167             16                           1.0           Asia
Europe        61             370                          11.8         Europe
              136            339                          11.0         Europe
              3              312                          12.4         Europe
              166            280                          10.2         Europe
              48             278                          10.4         Europe
North America 32             100                           8.2  North America
              184             84                           8.7  North America
              144             71                          10.1  North America
              11              51                           6.3  North America
              5               45                           4.9  North America
Oceania       8              212                          10.4        Oceania
              121            175                           9.3        Oceania
              40              74                           5.9        Oceania
              146             24                           2.6        Oceania
              129             23                           6.9        Oceania
South America 6              221                           8.3  South America
              185            220                           6.6  South America
              35             172                           7.6  South America
              132             74                           7.3  South America
              133             21                           6.1  South America