In [2]:
import pandas as pd

In [ ]:
movies = pd.read_csv('../../Data-Science-Practice/Data/imdb_1000.csv')

In [53]:
movies

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
...,...,...,...,...,...,...
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [ ]:
# data types
movies.dtypes

Exploring Non-Numeric columns

In [ ]:
movies.content_rating.describe()

In [ ]:
movies.content_rating.value_counts()#.plot(kind='bar')

In [ ]:
movies.content_rating.value_counts(normalize=True) # normalize=True gives percentages

In [ ]:
movies.content_rating.value_counts().head(3) # chain functions together

In [ ]:
movies.content_rating.value_counts().head(5).plot(kind='bar', title='Top 5 Movie Ratings')

In [ ]:
# explore multiple columns at once
movies[['content_rating', 'genre']].describe()

Exploring numeric columns

In [41]:
# sort by duration
movies.sort_values(by='duration')

,star_rating,title,content_rating,genre,duration,actors_list
389,8.0,Freaks,UNRATED,Drama,64,"[u'Wallace Ford', u'Leila Hyams', u'Olga Bacla..."
338,8.0,Battleship Potemkin,UNRATED,History,66,"[u'Aleksandr Antonov', u'Vladimir Barsky', u'G..."
258,8.1,The Cabinet of Dr. Caligari,UNRATED,Crime,67,"[u'Werner Krauss', u'Conrad Veidt', u'Friedric..."
293,8.1,Duck Soup,PASSED,Comedy,68,"[u'Groucho Marx', u'Harpo Marx', u'Chico Marx']"
88,8.4,The Kid,NOT RATED,Comedy,68,"[u'Charles Chaplin', u'Edna Purviance', u'Jack..."
...,...,...,...,...,...,...
445,7.9,The Ten Commandments,APPROVED,Adventure,220,"[u'Charlton Heston', u'Yul Brynner', u'Anne Ba..."
142,8.3,Lagaan: Once Upon a Time in India,PG,Adventure,224,"[u'Aamir Khan', u'Gracy Singh', u'Rachel Shell..."
78,8.4,Once Upon a Time in America,R,Crime,229,"[u'Robert De Niro', u'James Woods', u'Elizabet..."
157,8.2,Gone with the Wind,G,Drama,238,"[u'Clark Gable', u'Vivien Leigh', u'Thomas Mit..."
476,7.8,Hamlet,PG-13,Drama,242,"[u'Kenneth Branagh', u'Julie Christie', u'Dere..."

In [36]:
# mean movie duration
movies.duration.mean()

120.97957099080695

In [43]:
# max and min
print(movies.duration.max())
movies.duration.min()

242

64

In [44]:
# standard deviation
movies.duration.std()

26.218009846412073

In [48]:
# calculate multiple statistics at once
movies.duration.agg(['min', 'max', 'mean'])

min      64.000000
max     242.000000
mean    120.979571
Name: duration, dtype: float64

In [49]:
# WRITE A CUSTOM FUNCTION FOR AGG
# example: a function that calculates the diference between the max and min values
def min_max_gap(col):
    return col.max() - col.min()

In [54]:
movies[['duration', 'star_rating']].agg(['min', 'max', min_max_gap])

             duration  star_rating
min                64          7.4
max               242          9.3
min_max_gap       178          1.9

In [57]:
movies[['duration', 'star_rating']].describe()

         duration  star_rating
count  979.000000   979.000000
mean   120.979571     7.889785
std     26.218010     0.336069
min     64.000000     7.400000
25%    102.000000     7.600000
50%    117.000000     7.800000
75%    134.000000     8.100000
max    242.000000     9.300000

Working with dates and times

In [3]:
ufos = pd.read_csv('../../Data-Science-Practice/Data/ufo.csv')

In [11]:
ufos.Time[0] # this is a python string

'6/1/1930 22:00'

In [ ]:
# make it a datetime object
ufos['Time'] = pd.to_datetime(ufos.Time)